body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

#currentDay {
  font-weight: bold;
  margin-top: 50px;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: rgb(244, 242, 242);
}

.present {
  background-color: #e9b9b6;
  color: white;
}

.future {
  background-color: #77dd77;
  color: rgb(171, 222, 203);
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #010101 !important;
  color: white;
  border: none;
}

.saveBtn:focus {
  outline: none;
  border: none;
}

.saveBtn:hover {
  background-color: rgb(249, 185, 37) !important;
  border: none;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

i {
  font-size: 25px;
}

#footer{
  width: auto;
  height: 50px;
  background-color: rgb(240, 239, 239);
  margin-top: 30px;
  text-align: center;
}

#footer p{
  padding-top: 23px;
  font-size: 12px;
  font-weight: 600;
}